{{ define "main" }}
  <div class="ph3 ph5-ns">
    {{/* 顯示來自 content/_index.md 的主要網站介紹 */}}
    <div class="cf" style="padding-top: 1rem; padding-bottom: 1rem;">
      <div class="fl w-100">
        <h1 class="f1 athelas mt0 lh-title">{{ .Title }}</h1>
        <div class="f5 lh-copy measure">
          {{ .Content }}
        </div>
      </div>
    </div>

    {{/* 卡片式行程列表 */}}
    <div class="mw9 center">
      <h2 class="f2 b">所有行程</h2>
      <section class="flex-ns flex-wrap justify-around">
        {{/* 根據 weight 參數排序所有行程 (Section) */}}
        {{ range .Site.Sections.ByWeight }}
          <article class="w-100 w-50-m w-30-l pa3">
            <a href="{{ .Permalink }}" class="db link dim">
              <div class="ba b--moon-gray br2 overflow-hidden bg-white">
                {{ with .Params.featured_image }}
                  <img src="{{ . | relURL }}" alt="封面圖片 - {{ $.Title }}" class="w-100 db" style="height: 12rem; object-fit: cover;">
                {{ end }}
                <div class="pa3">
                  <h3 class="f4 b lh-title mv0 near-black">{{ .Title }}</h3>
                  <p class="f6 gray mt2 mb0 lh-copy">{{ .Summary | plainify | truncate 100 }}</p>
                </div>
              </div>
            </a>
          </article>
        {{ end }}
      </section>
    </div>
  </div>
{{ end }}